.navbar {
    margin-bottom:0;
  }

.jumbotron {
  background-image: url({{ url_for('static', filename='datte_proj_2_bg.png') }});
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jumbotron h1{
  color: white;
}

.jumbotron h2{
  color: white;
}

.jumbotron p{
  color: white;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}